html,
body {
	height: 100%;
	font-family: 'oxygen', arial, helvetica, sans-serif;
}

.wrapper,
.container {
	height: 100%;
}

.container {
	width: inherit;
	padding-right: 0;
	padding-left: 0;
}
a {
	color: #53a6a0;
}
.row {
	max-width: 1500px;
}
html {
	background-image: url(../images/backgrounds/11.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}
ul {
	list-style-type: none;
}
.button {
	display: inline-block;
	padding: 5px;
	color: #fff;
	text-shadow: 1px 1px 1px #53a6a0;
	text-align: center;
	text-decoration: none;
	background: #73bab5;
	border: solid 1px #53a6a0;
	border-radius: 5px;
}
footer {
	text-align: center;
	font-size: .8em;
	color: #ececec;
}
footer a {
	color: inherit;
	text-decoration: underline;
}
header,
footer {
	clear: both;
	overflow: hidden;
	padding: 20px;
	background: rgba(51,51,51,0.8);
}
header  img{
	display: block;
	max-height: 100px;
	margin: 0;
	padding: 0;
}
header nav {
	text-align: right;
}
header nav li {
	display: inline-block;
	margin-left: 20px;
}
header nav a {
	display: block;
	padding: 30px 10px 0;
	color: #ececec;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333;
}
.homeNav {
	margin-top: 10%;
	text-align: center;
}
.homeNav ul {
	clear: both;
	overflow: hidden;
	padding-right: 20px;
	padding-left: 20px;
	list-style-type: none;
	background: rgba(115,186,181,.5);
}
.homeNav li a {
	display: block;
	margin: 30px auto;
	padding: 20px;
	max-width: 200px;
	font-size: 1.3em;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	line-height: normal;
	color: #00736b;
	background: #ececec;
	border-radius: 10px;
	border: solid 1px #00736b;
	box-shadow: 5px 5px 5px rgba(51,51,51,0.3);
}
.logo {
	display: block;
	max-width: 600px;
	margin: auto;
}
.pageContent {
	clear: both;
	overflow: hidden;
	padding: 20px;
	color: #ececec;
	background: rgba(115,186,181,.5);
}
h1 {
	margin: 0 0 20px;
	padding: 0 0 20px;
	font-weight: 700;
	text-shadow: 1px 1px 1px #333;
	border-bottom: dotted 3px #ccc;
}
h2 {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
}
.refineSearch,
article {
	margin-bottom: 20px;
	color: #666;
	background: #ececec;
	border: solid 1px #ccc;
	box-shadow: 3px 3px 3px rgba(51,51,51,0.2);
	border-radius: 5px;
}
article {
	padding: 20px;
}
.refineSearch h2 {
	display: block;
	margin: -1px -1px 0;
	padding: 10px;
	color: #fff;
	text-shadow: 1px 1px 1px #53a6a0;
	background: #73bab5;
	border: solid 1px #53a6a0;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.refineSearch h3 {
	display: block;
	margin: 0;
	padding: 10px;
	font-size: .9em;
	font-weight: bold;
	color: #666;
	background: #d7e1e0;
}
.refineSearch .refinement {
	cursor: pointer;
	padding: 10px;
	color: #53a6a0;
	font-size: .8em;
	border-top: solid 1px #ccc;
}
.refineSearch li:first-child {
	border-top: 0;
}
.refineSearch li.active {
	color: #666;
}
.refineSearch .close {
	display: inline-block;
	vertical-align: middle;
	height: 20px;
	width: 20px;
	margin-right: 10px;
	color: #ececec;
	text-align: center;
	line-height: 17px;
	font-size: 1.3em;
	font-weight: bold;
	background: #666;
	border-radius: 10px;
}
.results {
	clear: both;
	overflow: hidden;
	margin-bottom: 20px;
	font-size: 1.1em;
	text-shadow: 1px 1px 1px #333;
	font-weight: bold;
	text-align: right;
}
.searchResults .noResultsFound {
	display: none;
	padding: 20px 10px 20px;
	margin-bottom: 20px;
	text-align: center;
	color: #ececec;
	text-shadow: 1px 1px 1px #333;
	font-size: 1.5em;
	font-weight: bold;
	background: #ab3434;
}
.searchResults article {
	clear: both;
	overflow: hidden;
	height: 150px;
	font-size: .9em;
}
.searchResults article h2 {
	font-size: 1.3em;
	margin: 0 0 20px;
}
.searchResults article h2 a {
	text-decoration: none;
	color: #73bab5;
}
.searchResults .locationSummary ul {
	height: 153px;
	padding-left: 20px;
	border-left: solid 1px #ccc;
}
.searchResults .locationSummary {
	position: relative;
	height: 100%;
}
.searchResults .locationSummary .button {
	position: absolute;
	bottom: 0;
	right: 0;
}
.phone,
.address {
	margin-bottom: 20px;
}
.searchResults .phone {
	margin-bottom: 10px;
}
iframe {
	width: 100%;
	margin-bottom: 20px;
}
.amenities li {
	margin-top: 20px;
	text-align: center;
}
.locationSummary li {
	text-align: center;
}
.amenityIcon {
	display: inline-block;
	margin: 0 auto 5px;
	background: #73bab5;
}
.amenityIcon.large {
	height: 100px;
	width: 100px;
	background-image: url(../images/amenity-sprite.png);
	background-repeat: no-repeat;
	border-radius: 50px;
}
.amenityIcon.small {
	height: 36px;
	width: 36px;
	background-image: url(../images/amenity-sprite.png);
	background-repeat: no-repeat;
	border-radius: 18px;
}
.amenityIcon.large.restrooms {
	background-position: 18px 25px;
}
.amenityIcon.small.restrooms {
	background-position: -129px -16px;
}
.amenityIcon.large.playground {
	background-position: 20px -225px;
}
.amenityIcon.small.playground {
	background-position: -127px -270px;
}
.amenityIcon.large.pavillion {
	background-position: 15px -60px;
}
.amenityIcon.small.pavillion {
	background-position: -127px -100px;
}
.amenityIcon.large.boatLaunch {
	background-position: 18px -143px;
}
.amenityIcon.small.boatLaunch {
	background-position: -127px -185px;
}
.amenityIcon.large.handLaunch {
	background-position: 18px -310px;
}
.amenityIcon.small.handLaunch {
	background-position: -127px -355px;
}


@media only screen and (min-width: 500px) and (max-width: 900px) {
	header img {
		margin: 0 auto;
	}
	header nav a {
		padding: 10px;
	}
	header nav li {
		margin-left: 0px;
	}
	header nav ul {
		text-align: center;
	}
	.searchResults article {
		height: auto;
		min-height: 150px;
	}
	.searchResults .locationImage {
		margin-bottom: 20px;
	}
}
@media only screen and (max-width: 500px) {
	.col_12 {
		padding-left: 0;
		padding-right: 0;
	}
	.pageContent {
		padding: 20px;
	}
	.searchResults article {
		height: auto;
	}
	.logo {
		padding: 0 10px;
	}
	.homeNav {
		margin-top: 5%;
	}
	.homeNav li a {
		margin: 10px auto;
	}
	.searchResults .locationSummary ul {
		height: auto;
		padding-left: 0;
		border-left: 0;
	}
	.searchResults .locationSummary .button {
		position: static;
	}
	.searchResults .locationImage {
		margin-bottom: 20px;
	}
}
